<div class="flex justify-center p-4">
    <div class="flex flex-col justify-center items-center ">
        <div class="flex flex-col md:flex-row justify-center items-center ">

            <div class="overflow-hidden md:w-3/4 m-4 flex justify-center bg-white  ">

                <div class="flex flex-col md:flex-row items-center justify-center md:w-3/4  ">
                    <div class="flex flex-col items-center justify-center py-2">
                        <div class="text-3xl font-bold text-stone-700 text-center md:-ml-24">{{userDetails?.userName}}</div>
                        <div class="text-md text-stone-700 font-medium text-center md:-ml-24 m-2">{{userDetails?.email}}</div>
                        <div class="flex flex-col md:flex-row   items-center justify-center   mx-10">

                            <div
                                class="pl-2 pt-2 w-60 bg-gradient-to-r from-blue-700 via-blue-600 to-stone-700 rounded-full ">

                                <img  src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg" alt=""
                                    class="dp w-80  rounded-full" />
                            </div>
                            <div class="flex flex-col w-full md:w-2/3  mx-10">
    
                                <div class="my-2">
                                    <button (click)="showWatchListDialog()" class="button-blue my-1">My WatchList</button>
                                    <button (click)="showLikeListDialog()" class="button-blue my-1">Liked Movies</button>
                                </div>
                                   
                                <div class="font-bold text-2xl text-blue-500 ">{{userDetails?.role}}</div>
                                <div class="text-stone-500 text-sm"><a href="#">-BingeWatch</a></div>
                                <div routerLink="/admin/add-movie" *ngIf="userDetails?.roles?.includes('ADMIN')" class="cursor-pointer text-white my-2 py-2 w-full bg-slate-500 flex justify-center">
                                    + Add Movie 
                                </div>
                                <div class="my-2 flex justify-end">
                                    <button (click)="gotoLoginPage()" class="button-blue" *ngIf="!isUserLoggedIn">SignIn</button>
                                    <button (click)="logout()" class="button-pink" *ngIf="isUserLoggedIn">Logout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="My Watchlist" [(visible)]="showWatchlist" [style]="{width: '50vw'}">
    <p *ngIf="!isUserLoggedIn">
        Login to add movies to Watclist!
     </p>
    <div *ngIf="isUserLoggedIn"> 
        <div class="my-2" *ngFor="let movie of myWatchList">
            <p class="text-lg font-bold">{{movie?.title}}</p>
        </div>
        <p *ngIf="myWatchList.length === 0"> No Records!</p>
    </div>
   
</p-dialog>

<p-dialog header="Liked Movies" [(visible)]="showLikelist" [style]="{width: '50vw'}">
    <p *ngIf="!isUserLoggedIn">
        Login to add movies to Likelist!
    </p>
    <div *ngIf="isUserLoggedIn">
        <div class="my-2" *ngFor="let movie of myLikeList">
            <p class="text-lg font-bold">{{movie?.title}}</p>
        </div>
        <p *ngIf="myLikeList.length === 0"> No Records!</p>
    </div>
</p-dialog>


